footer.footer
  .container
    .columns
      .columns__col-xs-12.columns__col-md-3
        a.js-open-modal.btn.btn--transp(data-modal-id="#modal-form") Рассчитать пол
      .columns__col-xs-12.columns__col-md-2
        ul.footer__nav
          li
            a(href="about.html") О компании
          li
            a(href="products.html") Продукция
          li
            a(href="partners.html") Подрядчикам
      .columns__col-xs-12.columns__col-md-4
        ul.footer__contacts
          li
            span 8 800 123 45 67
            span +7 495 123 45 67
          li 
            a(href="mailto:info@betonicum.ru") info@betonicum.ru
          li г. Иваново, ул. Калинина 9/21, оф. 542
      .columns__col-xs-12.columns__col-md-3
        .footer__social
          span Мы в соцсетях
          ul
            li
              a(href="#") INST
            li
              a(href="#") VK
    .footer__copyright © 2006 – 2019 «Betonicum»
