footer.footer
  .container
    .footer__panel
      .columns
        .columns__col-xs-12.columns__col-md-3
          .footer__action
            a.js-open-modal.btn.btn--transp(data-modal-id="#modal-form") Рассчитать пол
        .columns__col-xs-12.columns__col-md-2.is-hidden-sm
          ul.footer__nav
            li
              a(href="about.html") О компании
            li
              a(href="products.html") Продукция
            li
              a(href="partners.html") Подрядчикам
        .columns__col-xs-12.columns__col-md-4
          ul.footer__contacts
            li.footer__contacts-phone
              a(href="tel:+88001234567") 8 800 123 45 67
              a(href="tel:+74951234567") +7 495 123 45 67
            li.footer__contacts-email
              a(href="mailto:info@betonicum.ru") info@betonicum.ru
            li.footer__contacts-address г. Иваново, ул. Калинина 9/21, оф. 542
        .columns__col-xs-12.columns__col-md-2
          .footer__social
            span Мы в соцсетях
            ul.social-icon
              li.social-icon__item
                a(href="#")
                  +svg-icon('social-inst', '22', '22')
              li.social-icon__item
                a(href="#")
                  +svg-icon('social-fb', '13', '22')
    .footer__copyright © 2006 – 2019 «Betonicum»
