include mixins.pug
doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Page Title
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/libs/plyr.css")
      link(rel="stylesheet" href="css/libs/slick.css")
      link(rel="stylesheet" href="css/style.css")
    body
      |<!-- load combined svg file (with symbols) into body-->
      |<script>
      |    (function (doc) {
      |    var scripts = doc.getElementsByTagName("script")
      |    var script = scripts[scripts.length - 1]
      |    var xhr = new XMLHttpRequest()
      |    xhr.onload = function () {
      |        var div = doc.createElement("div")
      |        div.innerHTML = this.responseText
      |        div.style.display = "none"
      |        script.parentNode.insertBefore(div, script)
      |    }
      |    xhr.open("get", "img/sprite.svg", true)
      |    xhr.send()
      |    })(document)
      |</script>

      block header
      block content
      block footer
        include footer

        .js-modal-backdoor.modal-backdoor

        #modal-image.js-modal.js-modal-scroll.modal.modal--image
          .modal__container
            .modal__content
              .js-media-image.media-image
                img(src="/", alt="")
            button.js-close-modal.modal-close Close modal

        #modal-video.js-modal.js-modal-scroll.modal.modal--video
          .modal__container
            .modal__content
              .js-media-video.media-video
              //- (data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY")
            button.js-close-modal.modal-close Close modal

        #modal-form.js-modal.js-modal-scroll.modal.modal--form
          .modal__container
            .modal__content
              .modal-form
                .modal-form__text
                  p Получите индивидуальные условия работы и скидки до 50% прямо сейчас
                form.form
                  .form__field
                    input(type="text", name="user_name" placeholder="Ваше имя")
                  .form__field
                    input(type="tel", name="user_phone" placeholder="Телефон")
                  .form__button
                    button(type="submit") Заказать обратный звонок
            button.js-close-modal.modal-close Close modal
      block scripts
        // Scripts
        //- script(src="js/libs/scroll-lock.min.js")
        //- script(src="js/main.min.js")
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        script(src="js/libs/plyr.min.js")
        script(src="js/libs/slick.min.js")
        script(src="js/bundle.min.js")
