.media-group
  .media-group__item.media-group__item--big
    .media-box
      .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
        img(src="img/photo_1.jpg", alt="")
  .media-group__item.media-group__item--1
    .media-box
      .js-open-modal.media-box__overlay.media-box__overlay--img(data-modal-id="#modal-image" data-url-large-photo="https://placehold.co/900x600")
        img(src="img/photo_1.jpg", alt="")
  .media-group__item.media-group__item--2
    .media-box
      .js-open-modal.media-box__overlay.media-box__overlay--img(data-modal-id="#modal-image" data-url-large-photo="https://placehold.co/900x600")
        img(src="img/photo_2.jpg", alt="")
  .media-group__item.media-group__item--3.is-hidden-sm
    .media-box
      .js-open-modal.media-box__overlay.media-box__overlay--img(data-modal-id="#modal-image" data-url-large-photo="https://placehold.co/900x600")
        img(src="img/photo_3.jpg", alt="")
  .media-group__item.media-group__item--4.is-hidden-sm
    .media-box
      .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
        img(src="img/photo_1.jpg", alt="")