.advantages
    .advantages__item
        .advantages__img
        .advantages__title Срок службы более ХХ лет
    .advantages__item
        .advantages__img
        .advantages__title Устойчив к резким перепадам температур
    .advantages__item
        .advantages__img
        .advantages__title Соответствие санитарно-гигиеническим нормам
    .advantages__item
        .advantages__img
        .advantages__title Устойчив к химическому воздействию
    .advantages__item
        .advantages__img
        .advantages__title Устойчив к ударным нагрузкам
    .advantages__item
        .advantages__img
        .advantages__title Высокая адгезия к основанию
    .advantages__item
        .advantages__img
        .advantages__title Безвреден для человека и животных
    .advantages__item
        .advantages__img
        .advantages__title Не накапливает статическое электричество
    .advantages__item
        .advantages__img
        .advantages__title Обеспечивает гидроизоляционные свойства
