.whywe
  .container
    .columns
      .columns__col-xs-6.columns__col-md-3
        .whywe__item
          .whywe__img
            +svg-icon('advantages_1', '48', '48')
          h3.whywe__title Своё производство и запасы сырья
          .whywe__text.is-hidden-xs Изготовим быстро, контроль качества в одних руках
      .columns__col-xs-6.columns__col-md-3
        .whywe__item
          .whywe__img
            +svg-icon('advantages_2', '48', '48')
          h3.whywe__title Экологичные компоненты и материалы
          .whywe__text.is-hidden-xs Одобренные в ЕС материалы, возобновляемые источники сырья
      .columns__col-xs-6.columns__col-md-3
        .whywe__item
          .whywe__img
            +svg-icon('advantages_3', '48', '48')
          h3.whywe__title Отличная цена и высокое качество
          .whywe__text.is-hidden-xs Без посредников, оптимизированная логистика
      .columns__col-xs-6.columns__col-md-3
        .whywe__item
          .whywe__img
            +svg-icon('advantages_4', '48', '48')
          h3.whywe__title Отсутствие растворителей и запаха
          .whywe__text.is-hidden-xs Укладка пола без остановки производства
