.hero {
    position: relative;
    background: #798496 url('../img/bg-hero.jpg') no-repeat center center / cover;
    min-height: 515px;
    
    @media (min-width: $screen-md) {
        min-height: 780px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(76, 88, 107, 0.75);
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__cont {
        color: #FFF;
        padding-top: 105px;
        padding-bottom: 95px;
    }

    &__title {
        margin-bottom: 12px;
        text-transform: uppercase;

        @media (max-width: $screen-md - 1) {
            font-size: 34px;
            line-height: (40 / 34);
        }
    }

    &__subtitle {
        padding-bottom: 50px;
        font-size: $font-size-sm;
        font-weight: $font-light;
        line-height: (16 / 14);

        @media (min-width: $screen-md) {
            font-size: $font-size-md;
            line-height: (42 / 36);
        }
    }
}