.nav {

    &__list {
        
        list-style: none;
        margin: 0;
        padding: 0;

        // @media (max-width: $screen-md - 1) {
        //     padding-top: 38px;
        // }
        @media (min-width: $screen-md) {
            display: flex;
            flex-wrap: wrap;
            font-weight: $font-bold;
        }
    }

    &__item {
    
        @media (max-width: $screen-md - 1) {
            margin-bottom: 19px;
        }

        @media (min-width: $screen-md) {
            padding: 0px 15px;
        }
        
        a {
            font-size: 16px;
            font-weight: $font-medium;
            line-height: (19 / 16);
            color: #212121;
            text-decoration: none;

            @media (min-width: $screen-md) {
                font-weight: $font-bold;
            }
        }
    }
}


