.footer {
    background-color: $dark-blue;
    padding-top: 72px;
    color: #FFF;

    a {
        color: #FFF;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav {
        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: $font-size-sm;
            line-height: (16 / 14);
        }
    }

    &__copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.12);
        padding: 29px 0;
        font-size: 12px;
        line-height: (14 / 12);
        text-align: center;
        color: #FFF;
        opacity: 0.5;
    }
}
