@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

// Я люблю Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; // stylelint-disable-line
}

html {
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-normal;
    line-height: $line-height;
    color: $text-color;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: #C62828;
    background-color: transparent;
    transition: color 0.3s;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color--hover;
      text-decoration: underline;
    }

    &[href^='tel:'] {
        @media (min-width: $screen-xl) {
            white-space: nowrap;
            pointer-events: none;
            text-decoration: inherit;
            color: inherit;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: $font-bold;
    // line-height: 1.17;
}

h1 {
    font-size: $font-size-h1;
    line-height: 1.17;
}

h2 {
    font-size: $font-size-h2-mobile;
    text-transform: uppercase;
    line-height: (28 / 20);

    @media (min-width: $screen-sm) {
        font-size: $font-size-h2;
        line-height: 1.17;
    }
}

h3 {
    font-size: $font-size-h3;
    line-height: 1.17;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
    touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
    margin: 0;                  // Убираем margin в Firefox и Safari
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
    overflow: auto;   // Удаление верт. скролла в IE.
    resize: vertical;
}

svg {
    fill: currentColor;

    a &,
    button & {
        pointer-events: none; // Я люблю Edge, это браузер! (почти)
    }

    &:not(:root) {
        overflow: hidden;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    font-size: 0;

    &:focus {
        outline: none;
    }

    &.slick-prev {
        left: 0;
        background-image: url('../img/arrow-left.svg');
    }

    &.slick-next {
        right: 0;
        background-image: url('../img/arrow-right.svg');
    }
}

.content {
    p {
        margin-bottom: 24px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.section {
    padding-bottom: 65px;

    @media screen and (min-width: $screen-md) {
        padding-bottom: 114px;
    }

    &--bg-white {
        background-color: #FFF;
    }

    &__head {
        text-align: center;
        padding-top: 65px;
        margin-bottom: 57px;

        @media screen and (min-width: $screen-md) {
            padding-top: 114px;
        }

        &--nav {
            position: relative;
        }
    }

    &__title {
        // padding-bottom: 30px;
        display: flex;
        align-items: center;

        &--divider {
            flex-direction: column;
            
            &:after {
                content: '';
                width: 40px;
                height: 3px;
                background-color: #C62828;
                margin-top: 30px;
            }
        }
    }

    &__subtitle {
        color: $text-gray;
        font-size: $font-size-sm;
        line-height: (15 / 13);
    }

    &__footer {
        padding-top: 30px;

        @media (min-width: $screen-md) {
            padding-top: 53px;
        }
    }
}

.container {
  @include container()
}

.columns {
  @include row( $grid-gutter-width-mobile, $grid-gutter-width-mobile );

  &--centered {
    justify-content: center;
  }

  &--justify-evenly

  &--gapless {
    margin-left: 0;
    margin-right: 0;

    & > [class*=columns] {
        padding-left: 0;
        padding-right: 0;
    }
  }

  &--gapless-xs {
    @media (max-width: $screen-sm - 1) {
        margin-left: 0;
        margin-right: 0;

        & > [class*="columns"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
  }
}

.columns__col { @include col(); }

@for $i from 1 through $grid-columns {
    .columns__col-xs-#{$i} { @include col('xs', $i, $gutter: $grid-gutter-width-mobile); }
}
@for $i from 1 through $grid-columns {
    .columns__col-sm-#{$i} { @include col('sm', $i); }
}
@for $i from 1 through $grid-columns {
    .columns__col-md-#{$i} { @include col('md', $i); }
}
@for $i from 1 through $grid-columns {
    .columns__col-lg-#{$i} { @include col('lg', $i); }
}

.columns__order-md-1 {
    @media (min-width: $screen-md) {
        order: 1;
    }
}

.align-center {
    text-align: center;
}

.marked-list {
    list-style: none;
    margin: 5px 0 24px;
    padding-left: 17px;

    @media (min-width: $screen-md) {
        margin-top: 27px;
    }

    li::before {
        content: "\2022";
        color: red;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        width: 0.8em;
        margin-left: -0.8em;
    }
}

.icon-svg {
    vertical-align: middle;
}

.social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 2px;

            &:hover {
                opacity: .75;
            }
        }

        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

.logo {
    svg {
        use {
            color: #7C4345;
        }
    }
}

.phone {
    display: flex;
    align-items: center;

    .icon-svg {
        margin-right: 27px;
    }
}

.is-hidden-xs {
    @media (max-width: $screen-sm - 1) {
        display: none !important;
    }
}

.is-hidden-sm {
    @media (max-width: $screen-md - 1) {
        display: none !important;
    }
}

.link-pdf {
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url('../img/icon-pdf.svg') no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
}

.pb-0 {
    padding-bottom: 0;
}

.pb-40 {
    padding-bottom: 40px;
}

.is-space-evenly {
    justify-content: space-evenly;
}


.is-center {
    justify-content: center;
    text-align: center;
}

.icon-box-wrap {
    margin-bottom: -56px;
}

.icon-box {
    margin-bottom: 56px;

    &--center {
        text-align: center;
    }

    &__img {
        margin-bottom: 15px;
    }

    &__title {
        font-weight: $font-bold;

        @media (max-width: $screen-md - 1) {
            font-weight: normal;
        }
    }
}




.form-box {
    padding: 35px 40px 40px;
    background: #FFFFFF;
    box-shadow: 0px 14px 42px rgba(45, 48, 58, 0.12);
    border-radius: 7px;
}

.check-list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    li {
        background: url('../img/check.svg') no-repeat left 9px;
        padding: 9px 0 9px 42px;
    }
}

.font-bold {
    font-weight: $font-bold;
}

.sert {
    margin-bottom: 28px;

    @media (min-width: $screen-md) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    &__text {
        flex: 1;

        @media (min-width: $screen-md) {
            padding-left: $grid-gutter-width;
        }
    }

    &__img {
        @media (max-width: $screen-md - 1) {
            margin-bottom: 15px;
        }
    }

    &__name {
        font-weight: $font-bold;
        margin-bottom: 18px;

        @media (min-width: $screen-md) {
            font-size: 18px;
            font-weight: $font-normal;
        }
    }

    &__info {
        font-size: $font-size-sm;
        color: #616161;

        @media (max-width: $screen-md - 1) {
            display: none;
        }
    }
}

.product {
    text-align: center;
    padding-bottom: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__name {
        margin-bottom: 10px;
    }

    &__desc {
        font-size: $font-size-sm;
        margin-bottom: 27px;
        min-height: 63px;
    }

    &__img {
        margin-bottom: 27px;
    }
}

.product-detail {
    text-align: center;

    @media (max-width: $screen-md - 1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__left,
    &__right {
        position: relative;
        display: inline-block;
        font-size: 18px;
        font-weight: $font-bold;
        line-height: (21 / 18);
        color: #A6ADB8;
        text-decoration: none;

        @media (min-width: $screen-md) {
            position: absolute;
        }

        &:before {
            content: '';
            width: 36px;
            height: 36px;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__left {
        left: 0;
        padding-left: 58px;

        &:before {
            background: url('../img/arrow-left.svg') no-repeat left center;
            left: 0;
        }
    }
    &__right {
        right: 0;
        padding-right: 58px;
        
        &:before {
            background: url('../img/arrow-right.svg') no-repeat right center;
            right: 0;
        }
    }

    &__img {
        display: inline-block;
        padding-top: 15px;

        @media (max-width: $screen-md - 1) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 42px;
        }

        @media (min-width: $screen-md) {
            padding-top: 38px;
        }
    }
}
.product-video {
    @media (max-width: $screen-md - 1) {
        padding-left: 30px;
        padding-right: 30px;
    }

    .media-box {
        @media (max-width: $screen-md - 1) {
            margin-bottom: 20px;
        }
    }
}


.faq {
    list-style: none;
    padding: 0;
    text-align: left;
  
    &__item {
        overflow: hidden;
        background-color: #FFF;
      
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__toggle {
        position: relative;
        width: 100%;
        display: block;
        font-size: $font-size;
        font-weight: $font-bold;
        line-height: 1.5;
        text-align: left;
        padding: 15px 60px 15px 20px;
        border-radius: 0.15em;
        background: #FFF;
        transition: background .3s ease;
        outline: none;
        border: 0;

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            visibility: hidden;
            opacity: 0;
            background-color: #EEE;
            left: 20px;
            right: 20px;
            bottom: 0;
            height: 1px;

            @media (min-width: $screen-md) {
                left: 29px;
                right: 29px;
                bottom: 10px;
            }
        }
        
        &:after {
            content: '';
            background: url('../img/arrow-bottom.svg') no-repeat;
            position: absolute;
            right: 29px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 8px;
        }
      
        &:hover {
            // background: #fafafa;
            color: #c62828;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }

        &.show {
            &:before {
                visibility: visible;
                opacity: 1;
                transition: opacity 0.25s 0.35s;
            }
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        @media (min-width: $screen-md) {
            font-size: $font-size-sm;
            padding: 23px 29px;
        }
    }

    &__text {
        display: none;
        padding: 15px 20px;
        color: #616161;

        @media (min-width: $screen-md) {
            padding: 12px 29px 48px;
        }
    }
}

.video-row-container {

}

.video-row {
    
    // .slick-track {
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-left: -20px;
    //     margin-right: -20px;
    // }
    &:not(:last-child) {
        margin-bottom: 67px;
    }

    &__title {
        font-weight: $font-bold;
        margin-bottom: 33px;

        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            background: url('../img/icon-video.svg') no-repeat;
        }
    }

    &__list {
        @include row( $grid-gutter-width-mobile + 20, $grid-gutter-width-mobile );
    }

    &__item {
        // @include col('xs', 4, 12, 20px);
        // @include col('md', 4);

        min-width: 220px;
        

        
        
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        
        @media screen and (min-width: $screen-xs) {
            padding-left: $grid-gutter-width-mobile / 2;
            padding-right: $grid-gutter-width-mobile / 2;
            max-width: 373 + $grid-gutter-width-mobile;
        }

        @media screen and (min-width: $screen-md) {
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
            max-width: 373 + $grid-gutter-width;
        }

        &--full {
            @media screen and (max-width: $screen-md - 1) {
                @include col('xs', 12, 12, $grid-gutter-width-mobile + 80);
                max-width: 373 + $grid-gutter-width-mobile + 80;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__box {
        margin-bottom: 20px;
    }

    &__name {}
}
