.header {

    @media (max-width: $screen-md - 1) {
        .logo {
            svg {
                width: 155px;
                height: 18px;
            }
        }
    }

    &:not(&--index) {
        background-color: #FFF;
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 58px;

        @media (min-width: $screen-md) {
            height: 174px;
        }
    }

    &__mobile-panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__panel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        width: 100%;

        .modal-close {
            display: none;
        }


        @media (max-width: $screen-md - 1) {
            display: none;
            flex-direction: column;
            align-items: stretch;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
            width: 300px;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            padding-top: 55px;
            background-color: #FFF;
            
            .modal-close {
                display: block;
            }
        }
    }

    &__button {
        padding: 0 0 24px 38px;

        @media (min-width: $screen-md) {
            display: none;
        }
    }

    &__nav,
    &__phone {
        
        @media (min-width: $screen-md) {
            margin-left: auto;
        }
    }

    &__logo {
        padding-bottom: 15px;

        @media (max-width: $screen-md - 1) {
            padding-top: 10px;
        }
    }

    &__nav {
        @media (max-width: $screen-md - 1) {
            border-top: 1px solid #EDF0F7;
            padding-left: 38px;
            padding-top: 38px;
            margin-bottom: auto;
        }
    }

    &__phone {
        font-weight: $font-bold;
        font-size: 16px;
        line-height: (19 / 16);
        color: #616161;

        @media (max-width: $screen-md - 1) {
            border-top: 1px solid #EDF0F7;
            padding: 18px 0 18px 38px;
            text-align: center;
        }

        @media (min-width: $screen-md) {
            font-size: 26px;
            line-height: 30px;
        }

        .phone {
            color: #616161;
        }
    }

    &--index {
        
        &:not(.nav-open) {
            .logo {
                svg {
                    use {
                        color: #FFF;
                    }
                }
            }
        }

    
        .mobile-nav-trigger {
            svg {
                use {
                    color: #FFF;
                }
            }
        }
        
        @media (min-width: $screen-md) {
            .phone {
                color: #fff;
            }

            .nav a {
                color: #FFF;
            }
        }
        
    }

    &.nav-open {
        .header__logo {
            z-index: 10000;
        }
    }
}

.mobile-nav-trigger {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    margin-left: auto;

    @media (min-width: $screen-md) {
        display: none;
    }

    svg {
        use {
            color: #7C4345;
        }
    }

    &:focus,
    &:active {
        outline: none;
    }
}