extends common/layout

block header
  +headerIndex(false)

block content
  main.main
    section.section
      .container
        +section-head(
          'О компании',
          'Полиуретан-цементные полы Resalux'
        )
        .content
          p ООО «БЕТОНИКУМ» образовано в результате развития фирмы «Спецкомпозит». За прошедшие пятнадцать лет работы пройден большой путь, сначала в качестве подрядной организации, затем поставщика и специализированного укладчика ведущих европейских производителей полимерных полов.
          p С самых первых лет работы наша компания специализируется на полиуретан-цементных полах, так как это самые прочные и надёжные покрытия, обладающие рядом уникальных свойств и выдерживающие целый комплекс тяжёлых нагрузок на промышленных предприятиях. Начиная с 2001г. наши специалисты имеют опыт работы со всеми ключевыми производителями полиуретан-цементных материалов.
          p Закономерным следствием развития компании стали разработкии производство с помощью европейских специалистов полиуретан-цементных систем под собственной торговой маркой Resalux. За счёт налаженных прямых поставок от производителей сырья и грамотной логистики материалы Resalux на сегодняшний день имеют самые выгодные цены при неизменно высоком качестве. Полы Resalux производятся исключительно из высококачественных материалов от европейских поставщиков.
          p От других производителей нас отличает тот факт, что будучи в течение пятнадцати лет подрядной организацией и обладая колоссальным практическим опытом, мы лучше остальных знаем какой результат ожидают наши клиенты и какие нюансы существуют на практике при укладке и дальнейшей эксплуатации покрытий.
        
        +section-head(
          'Контактная информация',
          'Полиуретан-цементные полы Resalux'
        )
        .is-center.font-bold
          | Адрес: г. Иваново, ул. Калинина 9/21, оф. 542
          br
          | Тел.: +7 (495) 725-00-33 , +7 (4932) 77-31-88
          br
          | E-mail: info@betonicum.ru
        
        +section-head(
          'Реквизиты',
          'Полиуретан-цементные полы Resalux'
        )
        include includes/about/company-details
        
        +section-head(
          'Сертификаты и документы',
          'Полиуретан-цементные полы Resalux'
        )
        include includes/about/sert
