extends common/layout

block header
  +headerIndex(false)

block content
  main.main
    section.section
      .container
        +section-head(
          'О компании',
          'Полиуретан-цементные полы Resalux'
        )
        .content
          p ООО «БЕТОНИКУМ» образовано в результате развития фирмы «Спецкомпозит». За прошедшие пятнадцать лет работы пройден большой путь, сначала в качестве подрядной организации, затем поставщика и специализированного укладчика ведущих европейских производителей полимерных полов.
          p С самых первых лет работы наша компания специализируется на полиуретан-цементных полах, так как это самые прочные и надёжные покрытия, обладающие рядом уникальных свойств и выдерживающие целый комплекс тяжёлых нагрузок на промышленных предприятиях. Начиная с 2001г. наши специалисты имеют опыт работы со всеми ключевыми производителями полиуретан-цементных материалов.
          p Закономерным следствием развития компании стали разработкии производство с помощью европейских специалистов полиуретан-цементных систем под собственной торговой маркой Resalux. За счёт налаженных прямых поставок от производителей сырья и грамотной логистики материалы Resalux на сегодняшний день имеют самые выгодные цены при неизменно высоком качестве. Полы Resalux производятся исключительно из высококачественных материалов от европейских поставщиков.
          p От других производителей нас отличает тот факт, что будучи в течение пятнадцати лет подрядной организацией и обладая колоссальным практическим опытом, мы лучше остальных знаем какой результат ожидают наши клиенты и какие нюансы существуют на практике при укладке и дальнейшей эксплуатации покрытий.
        
        +section-head(
          'Контактная информация',
          'Полиуретан-цементные полы Resalux'
        )
        .align-center.font-bold
          | Адрес: г. Иваново, ул. Калинина 9/21, оф. 542
          br
          | Тел.: +7 (495) 725-00-33 , +7 (4932) 77-31-88
          br
          | E-mail: info@betonicum.ru
        
        +section-head(
          'Реквизиты',
          'Полиуретан-цементные полы Resalux'
        )
        ul.requisites
          li
            span Полное наименование:
            | Общество с ограниченной ответственностью «Betonicum»
          li
            span Сокращенное наименование:
            | ООО «Betonicum»
          li
            span ИНН/КПП:
            | 5027226910/502701001
          li
            span ОРГН:
            | 1155027003768
          li
            span Юридический адрес:
            | 140000, Московская обл., г.Люберцы, ул.Волковская, д.69а, офис 15
          li
            span Фактический адрес:
            | г. Иваново, ул. Калинина 9/21, оф. 542
          li
            span Телефон, факс:
            | +7 (495) 725-00-33 , +7 (4932) 77-31-88
          li
            span Электронная почта:
            | info@betonicum.ru
          li
            span Сайт:
            | www.betonicum.ru
          li
            span Банковские реквизиты:
            | БИК 041234567, Р/с №99879420880090091122 в ОАО «Сберегательный банк», Кор/счет 90505350500000000123
        
        +section-head(
          'Сертификаты и документы',
          'Полиуретан-цементные полы Resalux'
        )
        .columns
          .columns__col-xs-6
            .sert
              .sert__img
                img(src="img/sert-1.jpg", alt="Экспертное заключение")
              .sert__text
                .sert__name Экспертное заключение
          .columns__col-xs-6
            .sert
              .sert__img
                img(src="img/sert-2.jpg", alt="Сертификат пожарной безопасности ")
              .sert__text
                .sert__name Сертификат пожарной безопасности 
                .sert__info Сертификат пожарной безопасности (пожарный сертификат) – это документ, подтверждающий, что продукция соответствует требованиям пожарной безопасности.
          .columns__col-xs-6
            .sert
              .sert__img
                img(src="img/sert-3.jpg", alt=" Сертификат соответствия Resalux")
              .sert__text
                .sert__name Сертификат соответствия Resalux
                .sert__info Сертификат соответствия – документ, подтверждающий соответствие продукции требованиям качества и безопасности, установленными для нее действующими стандартами и правилами (ГОСТ, ГОСТ Р, ГОСТ Р МЭК, ТУ, Технический регламент и пр.).
          .columns__col-xs-6
            .sert
              .sert__img
                img(src="img/sert-4.jpg", alt="Санитарно-эпидемологическое заключение Resalux")
              .sert__text
                .sert__name Санитарно-эпидемологическое заключение Resalux
          .columns__col-xs-6
            .sert
              .sert__img
                img(src="img/sert-5.jpg", alt="Сертификат соответствия Resalux-Primer")
              .sert__text
                .sert__name Сертификат соответствия Resalux-Primer
                .sert__info Сертификат соответствия – документ, подтверждающий соответствие продукции требованиям качества и безопасности, установленными для нее действующими стандартами и правилами (ГОСТ, ГОСТ Р, ГОСТ Р МЭК, ТУ, Технический регламент и пр.).
