extends common/layout

block header
  +headerIndex(false)

block content
  main.main
    section.section
      .container
        +section-head(
          'Подготовка основания',
          '000'
        )
        .content
          p Правильная подготовка поверхности — это самый важный этап укладки наливных полов. Примерно в 80% случаях причиной отслоения и разрушения полимерных покрытий является некачественная подготовка бетонного основания. Существует несколько способов подготовки бетона.
        
        .columns
          .columns__col-12.columns__col-md-6
            .media-box
              .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
                img(src="img/photo_1.jpg", alt="")
            h3 Дробеструйная обработка
            p Самый лучший из всех способов подготовки. Дробеструйная обработка в несколько раз увеличивает площадь сцепления бетона с полимером, вскрывает скрытые дефекты поверхности. При таком методе обработки разгоняемая в специальной машине дробемётным колесом стальная дробь ударяет с большой силой о поверхность бетона. При этом выбиваются слабые места бетона, оголяется заполнитель – наиболее прочная составляющая бетона, удаляется с поверхности цементное молочко, поверхность становится шероховатой. Дробь работает в замкнутом цикле, возвращаясь после удара в рабочую камеру. Пыль и частицы бетона удаляются мощным пылесосом, подключенным к дробеструйной машине.
          .columns__col-12.columns__col-md-6
            .media-box
              .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
                img(src="img/photo_1.jpg", alt="")
            h3 Шлифование
            p Применяется там, где невозможно обработать поверхность дробеструйной машиной или фрезой — в местах примыкания пола и стен, под оборудованием и т.д. Шлифование не увеличивает площадь контакта бетона с полимером, поры бетона остаются закрытыми. Единственное преимущество шлифовки заключается в том, что бетон получается ровным, поэтому для получения приемлемого внешнего вида достаточно нанести окрасочное или тонкослойное покрытие толщиной до 2мм. Шлифовка применяется в основном в технических помещениях либо в местах с небольшими нагрузками. Если бетон заглажен затирочными машинами или имеет упрочняющий слой — шлифующие элементы скользят по поверхности, не давая никакого результата. Отслоение покрытия в этом случае может произойти уже через несколько недель с момента начала эксплуатации.
          .columns__col-12.columns__col-md-6
            .media-box
              .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
                img(src="img/photo_1.jpg", alt="")
            h3 Обеспыливание
            p На всех стадиях работы должно проводиться обеспыливание поверхности с помощью промышленных пылесосов. Непосредственно перед грунтовкой поверхности бетонное основание необходимо ещё раз тщательно пропылесосить.
          .columns__col-12.columns__col-md-6
            .media-box
              .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-url-video="https://placehold.co/900x600")
                img(src="img/photo_1.jpg", alt="")
            h3 Фрезерование поверхности
            p Рабочим инструментом фрезерной машины является вращающийся барабан, на стержнях которого расположены звездочки с твердосплавными элементами. При вращении барабана твердосплавные элементы звёздочек ударяются о поверхность бетона, срезая его на определённую глубину. Фрезерная машина должна работать с пылесосом, чтобы свести к минимуму выделение пыли наружу. Поверхность, как и после дробеструйной обработки, имеет шероховатую структуру. Недостаток фрезерования заключается в том, что фреза срезает бетон целиком, включая слабые и сильные фракции. После фрезерования бетон требует дополнительного выравнивания, чтобы устранить борозды и ямы, полученные при обработке.
          
    +call-to-action(
      'Получите индивидуальные условия работы с нами',
      'Скидки до 50% прямо сейчас',
      'Заказать обратный звонок'
    )
