extends common/layout

block header
  +headerIndex(false)

block content
  main.main
    section.section
      .container
        +section-head(
          'Видео',
          '000'
        )
        .video-row-container
          .video-row
            .video-row__title Эпоксидно-кварцевое покрытие Resaflor Quartz
            .js-video-list.video-row__list
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Полиуретан-цементное покрытие на кондитерском производстве
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Укладка полиуретан-цементного покрытия с помощью вертолёта
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Дробеструйная обработка бетонного основания
          .video-row
            .video-row__title Обеспыливание
            .js-video-list.video-row__list
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Укладка полиуретан-цементного покрытия вручную
          .video-row
            .video-row__title Укладка полиуретан-цементного покрытия с помощью вертолёта
            .js-video-list.video-row__list
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Птицефабрика
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Полиуретан-цементное покрытие Resalux TG на кондитерском производстве
          .video-row
            .video-row__title Фрезерование
            .js-video-list.video-row__list
              .video-row__item
                .video-row__box
                  .media-box
                    .js-open-modal.media-box__overlay.media-box__overlay--video(data-modal-id="#modal-video" data-media-url="-iybGlW6nRY")
                      img(src="img/photo_1.jpg", alt="")
                .video-row__name Ремонт бетонного пола в камере заморозки материалами Resalux
    +call-to-action(
      'Получите индивидуальные условия работы с нами',
      'Скидки до 50% прямо сейчас',
      'Заказать обратный звонок'
    )
          